/* Colors */
:root {
  --main-bg-color: rgb(235, 239, 243);
  --odd-bg-color: rgb(225, 230, 233);
  --primary-color: #18A0FB;
}

body {
  background: rgb(184, 195, 204);
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1680px;
  background: var(--main-bg-color);
}

/* helpers */

.hidden {
  visibility: hidden;
}

.dimmed {
  opacity: 0.25;
}

/**
 * COMPONENTS
 */

/* Buttons */
button.btn, a.btn {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height, or 150% */
  letter-spacing: -0.015em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  min-height: 40px;
  border-radius: 6px;
  margin: 0 5px;
}

button.btn-filled, a.btn-filled {
  background: var(--primary-color);
  color: white;
}

button.btn-filled:hover, a.btn-filled:hover {
  background: rgb(20, 135, 212);
  color: white;
}

button.btn-unfilled, a.btn-unfilled {
  background: rgb(0,0,0,0);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

button.btn-unfilled:hover, a.btn-unfilled:hover {
  background: white;
  color: var(--primary-color);
}

button.btn-round, a.btn-round {
  border-radius: 100%;
}

button.play-btn, a.play-btn {
  min-width: 130px;
  min-height: 130px;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  background-color: white;
}

.card figure {
 
}

.card figcaption {
  margin: 71px 64px; 
}

.card img {
  width: 100%;
}

.card h1 {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: -0.015em;
}

.card p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.015em;
}

/* Articles */
.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  padding: 80px;
}

.article figure {
  flex-basis: 750px;
  flex-shrink: 1;
  /* border: 1px solid red; */
}

.article figcaption {
  margin-left: 40px;
  margin-right: 0px;
  flex-basis: 690px;
  flex-shrink: 1.3;
  /* border: 1px solid green; */
}

.article img {
  width: 100%;
  /* height: 440px; */
}

.article h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  letter-spacing: -0.015em;
}

.article p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.015em;
}

.article--reverse {
  flex-direction: row-reverse;
  background: var(--odd-bg-color);
}

.article--reverse figcaption {
  margin-left: 0px;
  margin-right: 40px;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.about h1 {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */
  letter-spacing: -0.015em;
  margin-bottom: 30px;
}

.about p {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  /* or 139% */
  letter-spacing: -0.015em;
}
.about figcaption {
  margin-bottom: 65px;
}

.about figure {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.about ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  margin-bottom: 60px;
}

.about li {
  list-style: none;
}

/**
 * COMMON BLOCKS
 */

/* Showcase */
.showcase {
  padding: 120px 80px;
  background-color: var(--odd-bg-color);
}

.showcase__header h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  /* or 150% */
  letter-spacing: -0.015em;
}

.showcase__header p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  /* or 139% */
  letter-spacing: -0.015em;
  margin-top: 30px;
}

.showcase__content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.showcase__card {
  max-width: 429px;
}

/* Navigation */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  height: 60px;
}

.header__left {
  /* border: 1px solid green; */
  display: flex;
}

.header__right {
  /* border: 1px solid blue; */
  display: flex;
}

.header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header ul li {
  list-style: none;
  margin-right: 40px;
}

.header ul li a {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  /* Actionable Item */
  color: var(--primary-color);
}

.header figcaption {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */
  letter-spacing: -0.015em;
  margin-left: 10px;
}

.header figure {
  margin: 0;
}

/* Footer */
.footer {
  height: 264px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.footer__left {
  display: flex;
}

.footer__center {
  display: flex;
}

.footer__right {
  display: flex;
}

.footer figcaption {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */
  letter-spacing: -0.015em;
  margin-left: 10px;
}

.footer figure {
  margin: 0;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  margin-right: 40px;
}

.footer ul li a {
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: black;
}

.footer__copyright {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  text-align: right;
  letter-spacing: -0.015em;
  padding: 0px;
  margin: 0px;
}
